body{
    color: black;
    background-image: linear-gradient(to bottom, #1f1f1f, #212121, #242424, #262626, #292929, #292929, #2a2a2a, #2a2a2a, #292929, #272727, #262626, #252525);
}

.media{
    background-color: rgb(99, 98, 98);
    border-radius: 20px;
    padding: 10px;
    margin: 20px 200px 10px 200px;
    box-shadow: 0 0 10px black;
}

.media a{
    color: black;
}

.media p{
    color: silver;
}
